@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-paragraph;
    /* background: rgb(253, 143, 0); */
  }
  a {
    @apply hover:text-green transition;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }
  .h1 {
    @apply text-[36px] leading-[46px] lg:text-[70px] lg:leading-[80px] font-extrabold;
  }
  .h2 {
    @apply text-[26px] leading-[36px] lg:text-[50px] lg:leading-[60px] font-bold;
  }
  .h3 {
    @apply text-[18px] leading-[28px] lg:text-[34px] lg:leading-[44px] font-semibold;
  }
  .section-sm {
    @apply py-[70px];
  }
  .section-lg {
    @apply py-[150px];
  }
  .btn {
    @apply font-medium rounded text-base bg-shape;
  }
  .btn-sm {
    @apply h-[48px] px-[25px];
  }
  .btn-md {
    @apply h-[50px] px-[16px];
  }
  .btn-lg {
    @apply h-[58px] rounded-md px-[40px];
  }
  .btn-orange {
    @apply bg-green-200 text-white hover:bg-green transition;
  }
  .form-control {
    @apply h-[58px] border border-stroke-2 rounded pl-6 placeholder:text-paragraph text-paragraph outline-none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form h2 {
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  margin-bottom: 5px;
}

.form-control input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: center;
}

button[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color: #3e8e41;
}
